@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-pry: #3b5d50;
  --color-yellow: #f9bf29;
  --color-grey: #35736e1a;
  --color-light:#6A6A6A;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  min-height: 500vh;
}
